/* Menu */
.main-nav {
float: right;
margin-top: -39px;
max-width: 600px;
min-width: 250px;
position: relative;
width: 100%;
z-index: 120;
}
.main-nav ul {
margin: 0;
padding: 0;
}
.main-nav li {
//margin: 0 5px 10px 0;
padding: 0;
list-style: none;
display: inline-block;
}
/*sub menu*/
.main-nav li ul{
margin: 0 5px 10px 0;
padding: 0;
list-style: none;
display: none;
}

.main-nav li:hover ul{
margin: 0 5px 0px 0;
padding-top: 5px;
list-style: none;
display: block;
position: absolute;
}
.main-nav ul li:hover ul li{
  display: block;
}

/*sub menu*/
.main-nav a {
padding: 15px 30px ;
text-decoration: none;
color: #fff;
line-height: 100%;
font-size: 15px;
font-variant:small-caps;
display: block;
}
.main-nav a:hover {
color: #000;
display: block;
background: #fff;
}
.curLink a{
/*color: #000 !important;
display: block !important;
background: #fff !important;
border: solid 1px #fff !important;*/
background: #fff none repeat scroll 0 0 !important;
border: 0px solid #fff !important;
color: #000 !important;
display: block !important;
margin-bottom: 0px !important;
margin-top: 0px !important;
padding: 15px 30px  !important;
}

.main-nav .current a {
background: #999;
color: #fff;
border-radius: 5px;
}
 .current{
display: none;
font-size: 30px;
}

.main-nav.center ul {
text-align: center;
}

 .vivsibleNone{
  display: block ;
}
 .menu-top-container {
  float: right;
  text-transform: uppercase;
}


/* LIP */
 .fixed {
        position:fixed;
        top:0px; left:0px;
        width:100%;
        padding: 0 0 0 350px !important;
        z-index: 100;
        height:  44px;
       padding-left: 150px;

        -moz-box-shadow: -3px 0px 8px #333;
        -webkit-box-shadow: -3px 0px 8px #333;
        box-shadow:-3px 0px 8px #333;

         border-bottom: 1px solid #fff;
    }

    .headerlogoFixed{
      width: auto;
      height: 40px;
      top: 0;
      left: 29px;
      z-index: 1111;
      position:fixed;padding:3px;
    }

    .transbg {
        background-color: rgba(115, 161, 187, 0.93)!important;
    }
/* LIP */

@media screen and (max-width: 859px) {
  .main-nav {
    margin-top: -13px !important;
}
  .rtbs > .rtbs_content ol, .rtbs > .rtbs_content ul {
  margin-left: 0px !important;
}
   .menu-top-container {
  float: none;
}
.vivsibleNone{
  display: block  !important ;
}

.main-nav {
position: relative;
min-height: 40px;
max-width:100%;
}
.main-nav ul {
width: 100%;
/*padding: 35px 0;
position: absolute;
top: 0;
left: 0;*/
display: none;
//height:35px;
border: solid 1px #aaa;
background: #486a82  no-repeat 10px 11px;
//border-radius: 5px;
box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.main-nav ul li {
display: block; /* hide all <li> items */
margin: 0;
}

.current {
display: block !important;
text-align: center;
width: 100%;
background: #aaaeaf;
font-weight: 900;
cursor: pointer;
}
.main-nav a {
display: block;
margin: 0;
padding: 15px 25px;
text-align: left;

}
.main-nav .current a {
background: none;
color: #666;
}
.main-nav li ul{
  display: block;
  margin-left: 10px;
}
.main-nav li:hover ul{
  position: relative;
  display: block;
  margin: 0  0  0 10px;
}


.main-nav{

margin-top: 0px;
}
}

/* Varsicherungen menu
================================================ */
.Varsicherungen-navigation {
  background: #486a82 none repeat scroll 0 0;
  display: block;
  float: left;
  height: 360px;
  width: 260px;
  padding-top: 1px;
}

.Varsicherungen-menu{
font-size: 15px;
text-transform: uppercase;
margin: 0;
padding: 0;
}
.Varsicherungen-menu li{
  list-style: none;
  text-decoration: none;
  margin-top: -1px;
}
.Varsicherungen-menu a{
color: #fff ;
display: block;
padding: 16px 24px;
text-decoration: none;
//margin: 1px;
}
.Varsicherungen-menu a:hover{
  display: block;
 padding: 15px 25px;
  color: #323739;
  background: #becbd4;
  border: solid 1px #364248;
 // margin-right: 1px;
}
.current_page_item a{
   display: block;
 padding: 15px 25px 15px;
  color: #323739;
  background: #becbd4;
  border: solid 1px #364248;
  margin-bottom: -1px;
  margin-top: -1px;
}

/* Varsicherungen menu
================================================ */